{{ define "main" }}

<!-- page title -->
<section class="page-title-alt bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 data-font="title-1/medium" class="text-white">{{ .Title }}</h1>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ .Content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{.Params.author_image | absURL }}" alt="author"
            class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <img src="{{.Params.author_signature | absURL }}" alt="signature" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- Facts Gallery -->
{{ if site.Data.about.facts.enable }}
{{ with site.Data.about.facts }}
<section class="section">
  <div class="container">
    <h2 data-font="title-2/medium" class="text-center">{{ .title | markdownify }}</h2>
    
    <div class="row justify-content-center">
      {{ range .item }}
      <div class="col-md-3 text-center">
        <img src="https://source.unsplash.com/random/100X100"
        class="img-fluid w-100">
      </div>
      {{ end }}
    </div>
    
  </div>
</section>

{{ end }}

{{ end }}

<!-- Work Process -->
{{ if site.Data.about.photography_process.enable }}
{{ with site.Data.about.photography_process }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 data-font="title-2/medium">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ .icon | absURL }}" class="mb-4" alt="icon">
        <h4 class="mb-4">{{ .title }}</h4>
        <p>{{ .content | markdownify }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./Work Process -->


{{ if site.Data.about.clients_logo_slider.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 data-font="title-2/medium">{{ site.Data.about.clients_logo_slider.title | markdownify }}</h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
{{ end }}

{{ end }}