{{ define "main" }}

  <!-- hero area -->
  <section class="hero-area bg-primary overflow-hidden" id="parallax">
      <img class="img-fluid w-100" src="{{`https://source.unsplash.com/random/1900x1100` | relURL}}" alt="bg-shape">
    </div>

    <!-- social icon -->
    <ul class="list-unstyled mt-3 position-relative zindex-1">
      {{ range site.Params.social }}
      <li class="mb-3"><a class="text-white" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a></li>
      {{ end }}
    </ul>
    
    <!-- /social icon -->
  </section>
  <!-- /hero area -->

  {{ if site.Data.homepage.about.enable }}
  <!-- about -->
  <section class="section">
    <div class="about container">
      <div class="row justify-content-around">
        <div  class="col-md-5 text-center align-self-center">
          <h2 data-font="title-1/medium">get to know</h2>
          <p data-font="title-2/medium">Me and my Work</p>
        </div>
        <div class="col-md-5 text-center">
          {{ with site.Data.homepage.about }}
          <h3 data-font="title-2/medium">{{.title | markdownify}}</h3>
          <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>

      </div>
    </div>
  </section>
  <!-- /about -->
  {{ end }}



  {{ if site.Data.homepage.galleries.enable }}
  {{ with site.Data.homepage.galleries }}
  <!-- galleries -->
  <section class="section galleries">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-12 text-center">
          <h2 data-font="title-2/medium">{{ .title | markdownify }}</h2>
        </div>
        {{ range .item }}
        <div class="col-lg-3 col-md-4 text-center">
          <img class="img-fluid w-100" src="{{.image | relURL }}" alt="icon">
          <h4 data-font="title-1/small">{{.title }}</h4>
        </div>
        {{ end }}
      </div>
      <div class="col-lg-12 text-center">
        <a href="#" class="btn text-white">See all Galleries</a>
      </div>
    </div>
  </section>

  <!-- /galleries -->
  {{ end }}
  {{ end }}



  {{ if site.Data.homepage.blog.enable }}
  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 data-font="title-2/medium">{{site.Data.homepage.blog.title | markdownify }}</h2>
        </div>
        {{ range first 3 (where .Site.RegularPages "Section" "blog")}}
        {{ .Render "post" }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->
  {{ end }}

  
  {{ if site.Data.homepage.clients_logo_slider.enable }}
  <!-- slider -->
  <section class="section">
    <div class="container">
      {{ partial "client-slider.html" . }}
    </div>
  </section>
  <!-- /slider -->
  {{ end }}


  <!-- contact form -->
  <section data-background="{{`https://source.unsplash.com/random/1900x1100` | absURL}}">
      {{ partial "contact-form.html" . }}
  </section>
  <!-- /contact form -->


{{ end }}
