{{ if site.Params.contact.enable }}
<!-- contact -->
<section class="section">
    <div class="row">
      <div class="col-12 text-center">
        <h2 data-font="title-2/medium" class="text-white">Get in Touch</h2>
      </div>
      <div class="col-md-6 mx-auto">
        <div class="bg-white rounded text-center p-5">
          <div class="col-12">
            <ul class="list-unstyled my-3 zindex-1">
              {{ range site.Params.social }}
              <li class="mt-0 theme-color"><a href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a></li>
              {{ end }}
            </ul>
          </div>
          <h4 data-font="title-1/medium" class="mb-80">Contact Form</h4>
            <form action="{{site.Params.contact.form_action}}" method="POST" class="row">
              <div class="col-md-6">
                <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
              </div>
              <div class="col-md-6">
                <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
              </div>
              <div class="col-12">
                <textarea name="message" id="message" class="form-control px-0 mb-4"
                  placeholder="Type Message Here"></textarea>
              </div>
              <div class="col-lg-6 col-10 mx-auto">
                <button class="btn btn-primary w-100">send</button>
              </div>
            </form>          
        </div>
      </div>
    </div>
</section>
<!-- /contact -->
{{ end }}