<!-- footer -->
<footer class="footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <img src="{{site.Params.logo}}">
          <ul class="list-unstyled position-relative zindex-1">
            {{ range site.Params.social }}
            <li class="mb-3"><a href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col-md-4 text-center">
          <div id="navigation">
            <ul>
              {{ $current := . }}
              {{ range site.Menus.main }}
              {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
              {{ $active = or $active (eq .Name $current.Title) }}
              {{ if .HasChildren }}
              <li >
                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ .Name }}
                </a>
                <div >
                  {{ range .Children }}
                  <a href="{{ .URL | absURL }}">{{ .Name }}</a>
                  {{ end }}
                </div>
              </li>
              {{ else }}
              <li class="nav-item {{ if $active }}active{{ end }}">
                <a href="{{ .URL | absURL }}">{{ .Name }}</a>
              </li>
              {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <h5>Book with Me</h5>
          <a href="#" class="btn">Book Today</a>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">{{ site.Params.copyright | markdownify }}</p>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>


<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-sm btn-primary ml-2">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}